<html>
  <head>
    <title>Confirm Person</title>
    <script type="text/javascript" language="javascript"
    src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  ></script>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <script language="javascript">
      tstUsername = "";
      tstCurrentDate = "<%= @date %>";
      tt_cancel_destination = '/clinic';
      tt_cancel_show = "/patients/show/<%=  @found_person_id %>";
    </script>
    <style>
      #tab5 {
        background-color: white;
        border: 0 none;
        color: black;
        font-weight: bold;
      }
    </style>
  </head>
  <body><div id='content'>
      <div id='description' style='color:#777;position:absolute;margin-top:-70px;'></div><center>
        <form id = 'dashboard' action='/clinic'>
          <table cellpadding=10>
            <tr>
              <th colspan=2>Patient Dashboard</th>
            </tr>
            <h1 id='project_name'>
              <div style="color: #6281A7; font-size: 0.7em; padding-top: 20px;">Radiology</div>
            </h1>
            <span id='patient_name'><%= @patient_bean.name rescue "" %></span>
            <span id='patient_id'><%= @patient_bean.national_id_with_dashes rescue "" %></span>
            <span id='patient_residence'><%= @patient_bean.current_residence rescue "" %></span>
            <span id='patient_age'><%= @patient_bean.age rescue "" %></span>
            <span id='patient_gender'><%= @patient_bean.sex rescue "" %></span>

            <div id="patient_card">
            </div>
            <select id="tabs">
              <option value="/patients/past_visits_summary?patient_id=<%= @person.id %>&radiology_encounters=true">Previous Visits</option>
            </select>
            <select id="links">
            </select>
             <select id="navigation_links">
             </select>   
          </table>
        </form>
      </center>
    </div>
  </body>
</html>
