
<script>
  tt_cancel_destination = "/clinic";

  function newID(patient_id,national_id) {
    document.location = "/people/remote_duplicates?patient_id=" + patient_id + "&identifier=" + national_id;
  }

  function remoteNewID(patient_id,national_id) {
    document.location = "/people/remote_duplicates?remote_person_id=" + patient_id + "&identifier=" + national_id;
  }

 function postToSelect(national_id) {
    document.location = "/people/search?identifier=" + national_id;
  }

</script>

<style>

.color_white {
  background-color:white;
}

.color_blue {
  background-color:lightgrey;
}

td {
  border-style: solid;
  border-width: 1px;
}

table {
  width: 100%;
}

div { -moz-user-select: none; }


 a {
    background-color: #669999;
    border-bottom: 1px outset black;
    border-radius: 7px 7px 7px 7px;
    border-style: outset;
    border-top: 1px outset black;
    color: white;
    display: block;
    padding: 10px 16px 10px 10px;
    text-align: center;
    text-decoration: none;
  }
 .heading,.msg{
   margin-left: 20px;
   padding-left: 5px;
}
</style>

<div>

<!--

-->
<h3 class="msg">Select patient to continue ....</h3>
<table>
  <tr class="header">
    <td width="80">National ID</td>
    <td width='200'>Patient Name</td>
    <td width='50' style="text-align:center;">DOB</td>
    <td width='50' style="text-align:center;">Gender</td>
    <td width='50' style="text-align:center;">Age</td>
    <td width='90'>&nbsp;</td>
  </tr>
  <%color = 'white'
    row_number = 0
    ( @duplicates || {} ).each do | patient |
      if color == 'white'
        color = 'blue'
      else
        color = 'white'
      end
      row_number+=1
      %>
  <tr>
    <td class="color_<%=color%> row_number_<%=row_number%>"><%= patient.national_id || '&nbsp;' %></td>
    <td class="color_<%=color%> row_number_<%=row_number%>"><%= patient.name || '&nbsp;' %></td>
    <td class="color_<%=color%> row_number_<%=row_number%>" style="text-align:center;"><%= patient.birth_date || '&nbsp;' %> </td>
    <td class="color_<%=color%> row_number_<%=row_number%>" style="text-align:center;"><%= patient.sex || '&nbsp;' %></td>
    <td class="color_<%=color%> row_number_<%=row_number%>" style="text-align:center;"><%= patient.age || '&nbsp;' %> </td>
    <td class="color_<%=color%> row_number_<%=row_number%>">
	<% if @selected_identifier != patient.national_id %>
      <a href="#" id = '<%=patient.patient_id%>' class ='merge button_row_<%=row_number%>' onmousedown="postToSelect('<%=patient.national_id%>');">Select</a>
	<%else%>
      <a href="#" id = '<%=patient.patient_id%>' class ='merge button_row_<%=row_number%>' onmousedown="newID('<%=patient.person_id%>','<%=patient.national_id%>');">Select</a>
	<%end%>
    </td>
  </tr>
 <%end%>
  <%
    row_number = 0
    ( @remote_duplicates || {} ).each do | patient |
      if color == 'white'
        color = 'blue'
      else
        color = 'white'
      end
      row_number+=1
      %>
  <tr>
    <td class="color_<%=color%> row_number_<%=row_number%>"><%= patient.national_id || '&nbsp;' %></td>
    <td class="color_<%=color%> row_number_<%=row_number%>"><%= patient.name || '&nbsp;' %></td>
    <td class="color_<%=color%> row_number_<%=row_number%>" style="text-align:center;"><%= patient.birth_date || '&nbsp;' %> </td>
    <td class="color_<%=color%> row_number_<%=row_number%>" style="text-align:center;"><%= patient.sex || '&nbsp;' %></td>
    <td class="color_<%=color%> row_number_<%=row_number%>" style="text-align:center;"><%= patient.age || '&nbsp;' %> </td>
    <td class="color_<%=color%> row_number_<%=row_number%>">

	<% if @selected_identifier != patient.national_id %>
      <a href="#" id = '<%=patient.patient_id%>' class ='merge button_row_<%=row_number%>' onmousedown="postToSelect('<%=patient.national_id%>');">Select</a>
	<%else%>
      <a href="#" id = '<%=patient.patient_id%>' class ='merge button_row_<%=row_number%>' onmousedown="remoteNewID('<%=patient.person_id%>','<%=patient.national_id%>');">Select</a>
	<%end%>

    </td>
  </tr>
 <%end%>

</table>


</div>
