
<form action="/dde/dde_add_user" method="POST">
  <%= text_field_tag "location", "", {
    :id => 'location',
    :field_type => 'alpha',
    :helpText => 'Select location',
    :ajaxURL => "/dde/get_dde_locations?dde_token=#{params[:dde_token]}&name="
  } %>
  
  <%= text_field_tag "program", "", {
    :id => 'program',
    :field_type => 'alpha',
    :helpText => 'Select application program',
    :ajaxURL => '/dde/programs?name='
  } %>

  <%= text_field_tag "username", "",
    {
    :textCase => "lower",
    :field_type => "password",
    :helpText => 'Username'
  } %>

  <%= text_field_tag "password", "",
    {
    :textCase => "lower",
    :field_type => "password",
    :helpText => 'Password'
  }  %>

  <input type="hidden" name="dde_username" value="<%= params[:dde_username] %>" />
  <input type="hidden" name="dde_ipaddress" value="<%= params[:dde_ipaddress] %>" />
  <input type="hidden" name="dde_port" value="<%= params[:dde_port] %>" />
  <input type="hidden" name="dde_token" value="<%= params[:dde_token] %>" />
</form>
