<%= javascript_include_tag 'jquery' %>
<script>
  dat = "<%=@encounter_date.to_date rescue Date.today %>"
  tt_cancel_destination = '/patients/show?encounter_date=' + dat + '&patient_id=' + '<%=@patient.id%>'+ '&examination_number=' + '<%= params['examination_number']%>'
</script>


<% form_tag "/encounters/create", :method => :post do %>

<%= hidden_field_tag "encounter[encounter_type_name]", "FILM" %>
<%= hidden_field_tag "encounter[patient_id]", @patient.id %>
 <%= hidden_field_tag "encounter[encounter_datetime]", @encounter_date.to_date.to_s + Time.now.strftime(' %H:%M:%S').to_time rescue DateTime.now() %>
<%= hidden_field_tag "encounter[provider_id]", current_user.user_id %>
<%= hidden_field_tag "examination_number", @order.accession_number %>

<%= touch_select_tag "FILM SIZE", @patient, concept_set_options("Film size"),
{
	:id => "film_size",
	:helpText => "Film size",
	:tt_pageStyleClass => "NoKeyboard NoInput small",
	:order_id => @order.id,
	:tt_onUnload => "jQuery('#film_size ~ #observations__parent_concept_name').val(jQuery('#film_size').val())"
} %>


<%  
  options = "<option value=''></option>"
  options += "<option value=''>None</option>"
  options += "<option value='1'>1 Film</option>"
  options += "<option value='2'>2 Films</option>"
  options += "<option value='3'>3 Films</option>"
  options += "<option value='4'>4 Films</option>"
  options += "<option value='5'>5 Films</option>"
%>

<%= touch_select_tag "WASTED FILM", @patient, options ,
{:id => "bad_film",
:helpText => "Wasted film(s) used",
:tt_pageStyleClass => "NoKeyboard NoInput small" } %>


<%  
  options = "<option value=''></option>"
  options += "<option value=''>None</option>"
  options += "<option value='1'>1 Film</option>"
  options += "<option value='2'>2 Films</option>"
  options += "<option value='3'>3 Films</option>"
  options += "<option value='4'>4 Films</option>"
  options += "<option value='5'>5 Films</option>"
%>

<%= touch_select_tag "GOOD FILM", @patient, options ,
{:id => "good_film",
:helpText => "Good film(s) used",
:tt_pageStyleClass => "NoKeyboard NoInput small"} %>




<% end -%>




