<script>
  dat = "<%=@encounter_date.to_date rescue Date.today %>"
  tt_cancel_destination = '/patients/show?encounter_date=' + dat + '&patient_id=' + '<%=@patient.id%>'
</script>


<% form_tag "/encounters/create", :method => :post do 
  options = "<option value=''></option>"
  options += "<option value='35x43'>35x43</option>"
  options += "<option value='35x35'>35x35</option>"
  options += "<option value='30x40'>30x40</option>"
  options += "<option value='24x30'>24x30</option>"
  options += "<option value='18x24'>18x24</option>"
  options += "<option value='13x18'>13x18</option>"
%>

<%= hidden_field_tag "encounter[encounter_type_name]", "FILM SIZE" %>
<%= hidden_field_tag "encounter[patient_id]", @patient.id %>
 <%= hidden_field_tag "encounter[encounter_datetime]", @encounter_date.to_date.to_s + Time.now.strftime(' %H:%M:%S').to_time rescue DateTime.now() %>
<%= hidden_field_tag "encounter[provider_id]", current_user.user_id %>


<%= touch_select_tag "SIZE", @patient, options ,
{:id => "film_size",
:helpText => "Film size",
:tt_pageStyleClass => "NoKeyboard NoInput small" } %>

<%  
  options = "<option value=''></option>"
  options += "<option value='None'>None</option>"
  options += "<option value='1 Film'>1 Film</option>"
  options += "<option value='2 films'>2 Films</option>"
  options += "<option value='3 films'>3 Films</option>"
  options += "<option value='4 films'>4 Films</option>"
  options += "<option value='5 films'>5 Films</option>"
%>

<%= touch_select_tag "BAD", @patient, options ,
{:id => "bad_film",
:helpText => "Bad film(s) used",
:tt_pageStyleClass => "NoKeyboard NoInput small" } %>


<%  
  options = "<option value=''></option>"
  options += "<option value='None'>None</option>"
  options += "<option value='1 Film'>1 Film</option>"
  options += "<option value='2 films'>2 Films</option>"
  options += "<option value='3 films'>3 Films</option>"
  options += "<option value='4 films'>4 Films</option>"
  options += "<option value='5 films'>5 Films</option>"
%>

<%= touch_select_tag "GOOD", @patient, options ,
{:id => "good_film",
:helpText => "Good film(s) used",
:tt_pageStyleClass => "NoKeyboard NoInput small" } %>

<% end -%>




