<form action='/encounters/create' method='post'>
  <%= hidden_field_tag "encounter[encounter_type_name]", "OBSERVATIONS" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

  <%= touch_text_area_tag("NOTES", @patient, nil,
    {:optional => false,:helpText => "Examination notes"}, time = DateTime.now()) %>
</form>
