<html>
  <head>
    <title></title>
    <style type="text/css">
     body {
            font-family: Arial,sans-serif;
      }
      .bold {
        font-weight: bold;
        font-size: 0.9em;
      }
      .cell {
        width: 25%;
      }
      .blank{
        height: 50px;color:#ffffff;
       }
</style>
</head>
<body>
 <% start_date = "#{1}-#{@month}-#{@year}".to_date.strftime("%B") %>
<div id="head">
  <span><h2><%= Location.current_health_center.name.upcase %></h2></span>
  <span><h2>Monthly Radiological Statistics(<%= @investigation_type.titlecase %>)- <%= "#{start_date}  #{@year}" %></h2></span>
</div>


<div class='scrollTableContainer'>

<table width="90%" cellpadding="3" cellspacing="0" style="margin-left: 5%;">
<thead>

<tr>
  <th class ="examinations"><%= @investigation_type.upcase %> EXAMINATIONS</th>
  <th class ="weekHeader">WEEK 1</th>
  <th class ="weekHeader">WEEK 2</th>
  <th class ="weekHeader">WEEK 3</th>
  <th class ="weekHeader">WEEK 4</th>
  <th class ="weekHeader">WEEK 5</th>
  <th class ="weekHeader"s>TOTAL</th>
</tr>
</thead>
<% @total_week1  = @total_week2 =  @total_week3 =  @total_week4 = @total_week5 = 0  %>
<% @investigation_options.each do|part| %>
<tr>
  <td class="leftTitle"><%=part%></td>
  <td class="numeric"><%= @aggregates[0][part] || 0%> </td>
  <td class="numeric"><%= @aggregates[1][part] || 0%> </td>
  <td class="numeric"><%= @aggregates[2][part] || 0%> </td>
  <td class="numeric"><%= @aggregates[3][part] || 0%> </td>
  <td class="numeric"><%= @aggregates[4][part] || 0%> </td>

      <%@total = @aggregates[0][part].to_i +
                 @aggregates[1][part].to_i +
                 @aggregates[2][part].to_i +
                 @aggregates[3][part].to_i +
                 @aggregates[4][part].to_i
                 %>

  <td class="numeric"><%= @total || 0 %> </td>
  <%
     @total_week1 += @aggregates[0][part].to_i
     @total_week2 += @aggregates[1][part].to_i
     @total_week3 += @aggregates[2][part].to_i
     @total_week4 += @aggregates[3][part].to_i
     @total_week5 += @aggregates[4][part].to_i
  %>
</tr>
<%end%>
<tr class ="boldRow"><td class="leftTitle">Total Exams</td>
    <td class="numeric"><%= @total_week1 %></td>
    <td class="numeric"><%= @total_week2 %></td>
    <td class="numeric"><%= @total_week3 %></td>
    <td class="numeric"><%= @total_week4 %></td>
    <td class="numeric"><%= @total_week5 %></td>
    <td class="numeric"><%= @total_week1.to_i + @total_week2.to_i + @total_week3.to_i + @total_week4.to_i + @total_week5.to_i %></td>
</tr>

</table>
</div>
</body>
</html>
