<html>
  <head>
    <title></title>
    <style type="text/css">
      body {
            font-family: Arial,sans-serif;
      }
      .bold {
        font-weight: bold;
        font-size: 0.9em;
      }
      .cell {
        width: 25%;
      }
      .blank{
        height: 50px;color:#ffffff;
       }
</style>
</head>
<body>
  <div id="head">
  <span><h2><%= Location.current_health_center.name.upcase %></h2></span>
  <span><h2>Radiology Report: from <%=@start_date.to_date.to_s(:long) %> to <%= @end_date.to_date.to_s(:long) %></h2></span>
</div>
 <div class='scrollTableContainer'>

<table width="90%" cellpadding="3" cellspacing="0" style="margin-left: 5%;">
<thead>
<tr>
  <th class ="examinations">EXAMINATIONS</th>
  <th class ="weekHeader">COUNT</th>
</tr>
</thead>
<% total_exams = 0 %>
<%@daily_report.each do |exam|%>
  <tr>
  <td class="leftTitle"><%=exam.exam_type %> - <%= exam.exam_name %></td>
  <td class="numeric"><%= exam.exam_total %></td>
  </tr>
  <% total_exams += exam.exam_total.to_i %>
<%end%>
<tr class ="boldRow"><td class="leftTitle">Total Exams</td>
                     <td class="numeric"><%= total_exams %></td>
</tr>

</table>
</div>
</body>
</html>
