<style>

.tt_controls_summary #clearButton { display: none; }

.tt_controls_summary .inputFrameClass { height: 448px; }

#tt_page_summary .inputFrameClass { height: 448px; }

.selected_conditions {
  font-size: 25px;
  padding-left: 5px;
  font-weight: bold;
}
</style>

<% 
    patient = PatientService.get_patient(Person.find(@patient.id))
    session_date = session[:datetime].to_date.strftime('%d/%m/%Y') rescue Date.today.strftime('%d/%m/%Y')
%>

<script>
  var tt_cancel_destination = "/patients/show/<%= @patient.patient_id -%>";
  var referred_by = null;
  function summary() {
    var line2 = "<%=patient.national_id%> ";
    line2 += "(<%=patient.sex.first%>)";
    line2 += " <%=patient.birth_date%>";
    
    var line3 = $("investigation_type").value;
    var line3 = line3 + " - " + $("investigation_type_value").value
    var referred_from =  referred_by;

    var line4 = "<%= session_date %>, " + referred_from;
    $('inputFrame'+tstCurrentPage).innerHTML += '<div class="selected_conditions"><br />' + "<%=patient.name%>" + '</div>' ;
    $('inputFrame'+tstCurrentPage).innerHTML += '<div class="selected_conditions"><br />' + line2 + '</div>' ;
    $('inputFrame'+tstCurrentPage).innerHTML += '<div class="selected_conditions"><br />' + line3 + '</div>' ;
    $('inputFrame'+tstCurrentPage).innerHTML += '<div class="selected_conditions"><br />' + line4 + '</div>' ;

  }

  function setReferredBy() { 
    referred_by = $('touchscreenInput'+tstCurrentPage).value;
  }
</script>

<% form_tag "/orders/create", :method => :post do
   options = "<option value=''></option>"
   options+="<option value='Xray'>Xray</option>"
   options+="<option value='Ultrasound'>Ultrasound</option>"
%>

<%= hidden_field_tag "encounter[encounter_type_name]", "EXAMINATION" %>
<%= hidden_field_tag "encounter[patient_id]", @patient.id %>
<%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
<%= hidden_field_tag "encounter[provider_id]", current_user.user_id %>

<%= hidden_field_tag  :examination_number, @next_exam_number %>

<% @options = ['Xray','Ultrasound'] %>
<%=  select_tag :investigation_type, options_for_select(@options),
     {:helpText => "Investigation type"} %>



<% @options = ['Skull','Facial bones','C-spine','T-spine','L-spine','Upper limb','Lower limb','Chest','Abdomen',
               'Pelvis','Contrast GI study','Contrast UT study','HSG','Other'] %>


<%=  select_tag :investigation_type_value, options_for_select(@options),
     {:helpText => "Investigation type value"} %>

<%
   lower_limb = "<option value=''></option>"
   lower_limb+="<option value='Left Hip'>Left Hip</option>"
   lower_limb+="<option value='Right Hip'>Right Hip</option>"
   lower_limb+="<option value='Left Femur'>Left Femur</option>"
   lower_limb+="<option value='Right Femur'>Right Femur</option>"
   lower_limb+="<option value='Left Knee'>Left Knee</option>"
   lower_limb+="<option value='Right Knee'>Right Knee</option>"
   lower_limb+="<option value='Left Tibia/Fibula'>Left Tibia/Fibula</option>"
   lower_limb+="<option value='Right Tibia/Fibula'>Right Tibia/Fibula</option>"
   lower_limb+="<option value='Left Ankle'>Left Ankle</option>"
   lower_limb+="<option value='Right Ankle'>Right Ankle</option>"
   lower_limb+="<option value='Left Foot'>Left Foot</option>"
   lower_limb+="<option value='Right Foot'>Right Foot</option>"
   lower_limb+="<option value='Left Toes'>Left Toes</option>"
   lower_limb+="<option value='Right Toes'>Right Toes</option>"

   upper_limb = "<option value=''></option>"
   upper_limb+="<option value='Left Shoulder'>Left Shoulder</option>"
   upper_limb+="<option value='Right Shoulder'>Right Shoulder</option>"
   upper_limb+="<option value='Left Humerus'>Left Humerus</option>"
   upper_limb+="<option value='Right Humerus'>Right Humerus</option>"
   upper_limb+="<option value='Left Elbow'>Left Elbow</option>"
   upper_limb+="<option value='Right Elbow'>Right Elbow</option>"
   upper_limb+="<option value='Left Radius/Ulna'>Left Radius/Ulna</option>"
   upper_limb+="<option value='Right Radius/Ulna'>Right Radius/Ulna</option>"
   upper_limb+="<option value='Left Wrist'>Left Wrist</option>"
   upper_limb+="<option value='Right Wrist'>Right Wrist</option>"
   upper_limb+="<option value='Left Hand'>Left Hand</option>"
   upper_limb+="<option value='Right Hand'>Right Hand</option>"
   upper_limb+="<option value='Left Fingers'>Left Fingers</option>"
   upper_limb+="<option value='Right Fingers'>Right Fingers</option>"
%>
<script>
  function captionChange(){
    /*selected_text = document.getElementById('xray_type').value;
     document.getElementsByClassName('helpTextClass')[0].innerHTML+= " " + selected_text;
     limb_type = document.getElementById('limb_type');
    if(selected_text == 'Lower limb'){
      limb_type.innerHTML = lower_limb 
    } else { limb_type.innerHTML = upper_limb }
    */
  }
</script>

<%= touch_select_tag "LIMB TYPE", @patient, lower_limb ,
{:id => "lower_limb",
:helpText => "Which part of Lower limb",
:condition => '$("investigation_type_value").value =="Lower limb"',
:tt_pageStyleClass => "NoKeyboard NoInput small" } %>

<%= touch_select_tag "LIMB TYPE", @patient, upper_limb ,
{:id => "upper_limb",
:helpText => "Which part of Upper limb",
:condition => '$("investigation_type_value").value =="Upper limb"',
:tt_pageStyleClass => "NoKeyboard NoInput small" } %>

<%#=  select_tag :referred_by, options_for_select(@wards),
     {:helpText => "Referred from",:tt_onUnLoad => "setReferredBy();"} %>

<% options = "<option value=''></option>"
   @wards.each do |ward|
   options+="<option value=#{ward[1]}>#{ward[0]}</option>"
   end
%>
  
<%= touch_select_tag "REFERRED BY", @patient, options ,
                     {:id => "referred_by",
                      :helpText => "Referred from",
                      :tt_pageStyleClass => "NoKeyboard NoInput small",
                      :tt_onUnLoad => "setReferredBy();"} %>

<% options = "<option value=''></option>"
   options+="<option value='Yes'>Yes</option>"
   options+="<option value='No'>No</option>"
%>

<%= touch_select_tag "PAYING", @patient, options ,
                     {:id => "paying",
                      :helpText => "Paying",
                      :tt_pageStyleClass => "NoKeyboard NoInput small" } %>

<%= touch_text_field_tag 'RECEIPT NUMBER',@patient , nil,
                         {:id => "receipt_number",
                          :helpText=> "Receipt number" , 
                          :condition => '$("paying").value == "Yes"'} %>

<%= touch_text_field_tag 'PAYMENT AMOUNT',@patient , nil,
                         {:id => "payment_amount",
                          :field_type => "number",
                          :helpText=> "Payment amount" ,
                          :validationRule => "([0-9]+\\.[0-9])|Unknown$",
		          :validationMessage => "You must enter a decimal between 0 and 9",
                          :tt_pageStyleClass => "Numeric NumbersOnlyWithDecimal",
                          :condition => '$("paying").value == "Yes"'} %>

<label for='summary'>Summary</label>                                        
<%= text_field_tag :summary, nil, { :tt_onLoad => "summary();", 
    :optional => "true", 
    :tt_pageStyleClass => "NoControls" } %>



<%end%>

