<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag 'utils' %>
<style>

/*.tt_controls_summary #clearButton { display: none; }

.tt_controls_summary .inputFrameClass { height: 448px; }

#tt_page_summary .inputFrameClass { height: 448px; }
*/


  #space { display:inline; font-size:1.2em; }
  #Unknown { display: none}
  .label {
    display: inline-block;
    padding: 40px;
    margin: auto;
    border: 2px dashed black;
    height: 100px;
    width: 400px
  }
  .label .labelLine {
    
    width: 100%;
    display:block

  }
  .reverse {
    display:block;
    width: 80%;
    margin-right: 20px;
    background: black;
    color: white;
  }

  .tt_controls_main_tests .keyboard{display:none;}
  #tt_page_main_tests .options{height:550px}

  .tt_controls_select_test .keyboard{display:none;}
  #tt_page_select_test .options{height:530px}




.selected_conditions {
  font-size: 25px;
  padding-left: 10px;
  font-weight: bold;
}

#summary {
  width:400px;
  height: 100px;
  padding-left:0;
  padding-right:0;
  padding-top: 200px;
  margin: auto;
}
</style>

<%
    patient = PatientService.get_patient(Person.find(@patient.id))
    session_date = session[:datetime].to_date.strftime('%d/%m/%Y') rescue Date.today.strftime('%d/%m/%Y') 
%>

<script>
  var tt_cancel_destination = "/patients/show/<%= @patient.patient_id -%>";
 
  function set_ajaxURL_for_suggestions(value) {
  	url = "/investigation/examination?radiology_test=" + value + "&examination=";
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url);
    listSuggestions(tstCurrentPage);
  }

  function showBarcode(){
    var exam_type = $("list_of_radiology_test").value;
    var exam = ""
    if ($("detailed_examination").value)
      {
       var exam = $("examination").value + "-" + $("detailed_examination").value
      }
     else
       {
         var exam = $("examination").value
       }
    var referred_from = $("referred_by").value
    displayText = drawLabel(exam_type,exam,referred_from);
     $('tt_page_summary').innerHTML = '<div id="summary">' + displayText + '</div>' ;
  }

  function drawLabel(exam_type,exam,referred_from){
        //TODO Replace below wtih http://barcode-coder.com/en/barcode-jquery-plugin-201.html
        label = "\
        <div class='label'>\
        <div class='labelLine'>\
        <%= "#{patient.name}" %>\
        </div>\
        <div class='labelLine'>\
        <%= "#{patient.national_id_with_dashes} (#{patient.sex.first})  #{patient.birth_date}" %>\
        </div>\
        <div class='labelLine'><%= "#{DateTime.now.strftime("%d-%b-%Y")}" %> <del>R00000001</del>  ("+referred_from+")</div>\
        <div class='labelLine reverse'>"+exam_type+"-"+exam+"</div>\
        <div class='labelLine'> <del><b>||||||| |||| | ||||| | | ||||| || | | ||||||||</b></del></div>\
        </div>\
        "
        return label
    }
  examination_sets = '<%= "#{@examination_sets}" %>';
</script>

<% form_tag "/orders/create", :method => :post do %>

<%= hidden_field_tag "encounter[encounter_type_name]", "RADIOLOGY EXAMINATION" %>
<%= hidden_field_tag "encounter[patient_id]", @patient.id %>
<%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
<%= hidden_field_tag "encounter[provider_id]", current_user.user_id %>

<%= hidden_field_tag  :examination_number, @next_exam_number %>

<%= touch_select_tag "RADIOLOGY TEST", @patient, concept_set_options("LIST OF RADIOLOGY TESTS"),
		{	:id => "list_of_radiology_test",
		 	:helpText => "Please select the type of examination" } %>


<%= touch_select_tag "Examination", @patient, nil,
		{	:id => "examination",
			:tt_onLoad => 'set_ajaxURL_for_suggestions($("list_of_radiology_test").value);',
                        :tt_pageStyleClass => "Keyboard",
		 	:helpText => "Please select the examination" } %>

<%= touch_select_tag "Detailed examination", @patient, nil,
		{	:id => "detailed_examination",
		 	:condition => 'examination_sets.contains($("examination").value)',
                        :tt_onLoad => 'set_ajaxURL_for_suggestions($("examination").value);',
                        :tt_pageStyleClass => "Keyboard",
		 	:helpText => "Please select the detailed examination" } %>


<%= touch_select_tag "REFERRED FROM", @patient, options_for_select(@referral_locations),
                     {:id => "referred_by",
                      :helpText => "Referred from",
                      :tt_pageStyleClass => "Keyboard"
                      } %>

<%= touch_yes_no_tag "PAYING", @patient, nil,
                     {:id => "paying",
                      :helpText => "Is this a paying patient?",
                      :tt_pageStyleClass => "NoKeyboard NoInput small" } %>

<%= touch_select_tag "PAYMENT TYPE", @patient, concept_set_options("PAYMENT TYPE"),
                     {:id => "payment_type",
                      :helpText => "Select payment method",
                      :condition => '$("paying").value == "YES"',
                      :tt_pageStyleClass => "NoKeyboard NoInput small" } %>

<%= touch_text_field_tag 'RECEIPT NUMBER',@patient , nil,
                         {:id => "receipt_number",
                          :helpText=> "Enter receipt number" ,
                          :condition => '$("payment_type").value == "Cash"'} %>

<%= touch_text_field_tag 'INVOICE NUMBER',@patient , nil,
                         {:id => "receipt_number",
                          :helpText=> "Enter invoice number" ,
                          :condition => '$("payment_type").value == "Invoice"'} %>

<%= touch_numeric_tag 'PAYMENT AMOUNT',@patient , nil,
                         {:id => "payment_amount",
                          :field_type => "number",
                          :helpText=> "Enter payment amount" ,
                          :validationRule => "([0-9]+\\.[0-9])|Unknown$",
		          :validationMessage => "You must enter a decimal number",
                          :tt_pageStyleClass => "Numeric NumbersOnlyWithDecimal",
                          :condition => '$("paying").value == "YES" && $("payment_type").value == "Cash"'} %>
<%= touch_numeric_tag 'INVOICE AMOUNT',@patient , nil,
                         {:id => "invoice_amount",
                          :field_type => "number",
                          :helpText=> "Enter invoice amount" ,
                          :validationRule => "([0-9]+\\.[0-9])|Unknown$",
		          :validationMessage => "You must enter a decimal number",
                          :tt_pageStyleClass => "Numeric NumbersOnlyWithDecimal",
                          :condition => '$("paying").value == "YES" && $("payment_type").value == "Invoice"'} %>

<label for='summary'>Summary</label>
<%= text_field_tag :summary, nil,
		{	 :helpText => "Summary",
                         :tt_onLoad => "showBarcode();$('clearButton').style.display='none';$('keyboard').style.display='none';",
			 :optional => "true", :tt_pageStyleClass => "NoControls" } %>

<%end%>

